@import "config.scss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password] {
  width: 100%;
  color: #c9c8c8;
  background-color: #1c1c1c;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #37065e;
  box-sizing: border-box;
}

button {
  background-color: #6b0ab8;
  color: #1c1c1c;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

  :hover {
    opacity: 0.8;
  }

}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  padding-top: 15px;
  color: #6b0ab8;

  i {
    border: #6b0ab8 3px solid;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.20em 0.25em;
  }

}

.container {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.41);
  padding-top: 60px;

  b {
    color: #6b0ab8;
  }


  p {
    display: inline;
    color: #6b0ab8;
  }

}

span.psw {
  float: right;
}

.formbox {
  background-color: #1c1c1c;
  margin: 1% auto 15% auto;
  border: 1px solid #37065e;
  width: 60%;
  border-radius: 8px;
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;

  :hover,
  :focus {
    color: red;
    cursor: pointer;
  }
}



.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

.forgotpw {
  color: #6b0ab8;
}

.hidepw {
  float: right;
  display: inline;
  color: white;
  position: absolute;
  z-index: 2;
  transform: translate(-35px, 25px);
}

